<%= simple_form_for(server, multipart: true) do |f| %>
<div class="panel panel-default">
  <div class="panel-heading">
    New Cloud
  </div>
  <div class="panel-body">

    <% if server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(server.errors.count, "erro") %></h2>

      <ul>
        <% server.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

    <div class="row">
      <%= f.hidden_field :cloud_id %>
      <%= f.input :label, :label => "Nome do Servidor", wrapper_html: {class: 'col-md-8'} %>
      <%= f.input :group, :label => "Group", wrapper_html: {class: 'col-md-5'} %>
    </div>
    <div class="row">
      <%= f.input :hostname_server, :label => "Hostname", wrapper_html: {class: 'col-md-8'} %>
    </div>

    <div class="row">
      <%= f.input :distribution, :label => "Sistema Operacional",wrapper_html: {class: 'col-md-8'}, collection: distribution_collection %>
    </div>
     <div class="row">
      <%= f.input :stackscript_url, :label => "StackScript Url", wrapper_html: {class: 'col-md-8'} %>
    </div>
    <div class="row">
      <%= f.input :linode_type, :label => "Tipo",wrapper_html: {class: 'col-md-8'} ,collection: servers_collection %>
    </div>
    <div class="row">
       <%= f.input :rootpass, :label => "Senha", wrapper_html: {class: 'col-md-5'} %>
    </div>
    <div class="row">
       <%= f.input :region, :label => "Região", wrapper_html: {class: 'col-md-8'},collection: regions_collection %>
    </div>
    <!-- <div class="row">
       <%#= f.input :stackscript, :label => "Stack Script", wrapper_html: {class: 'col-md-8'},collection: stack_script_collection %>
    </div> -->
  </div>

  <div class="panel-footer">
    <%= f.submit "Salvar", class: 'btn btn-primary' %> ou
    <%= link_to "Cancelar", :back, class: 'btn btn-default' %>
    <%= link_to "Apagar", @server,
    method: :delete,
    class: 'btn btn-danger pull-right',
      data: { confirm: 'Tem certeza que quer apagar?' } if @server.persisted? %>
    </div>
  </div>
  <% end %>
