<div class="page-header">
  <h1>
    <%= @server.label %>
  </h1>
  <div class="pull-right">
    <%= link_to "Editar", edit_server_path(@server), class: 'btn btn-primary' %>
  </div>
</div>

<div class="panel panel-default">
  <table class="table">
    <tr>
      <td class="col-md-2">Group</td> <td><%= @server.lpm_displaygroup %></td>
    </tr>
    <tr>
      <td>Data do cadastro</td> <td><%= l @server.created_at %></td>
    </tr>
  </table>
  <% @server = Server.list_config_linode(@server.cloud_id, @server.linodeid) %>
  <% if !@server.present? %>
    Not have configuration present
  <% else %>
    <%= @server %>
  <% end %>
</div>
